####################################################################
# Requirements for anaconda environment
# Run it with:
# conda install --file requirements.txt -c pytorch -c dglteam
####################################################################

biopython==1.76
dgl-cuda10.1==0.4.3
matplotlib
numpy
scikit-learn
scipy
pytorch==1.4.0
torchvision
tqdm
ignite==0.4.2
Flask==1.1.2
flask-cors
requests
